<div class="photos">

   <h3>{{photosTitle}}</h3>
   <figure>
      <img src="{{image1}}" alt="Oops! Missing photo of the doggo on his comfy couch!"> <br>
      <figcaption> The given link didn't work, so I'm replacing it with another photo of Rocky! </figcaption>
   </figure>

   <figure>
      <img src="{{image2}}" alt="Oops! Missing photo of the doggo!">  <br>
   </figure>

   <figure>
      <img src="{{image3}}" alt="Oops! Missing photo of the doggo and his pink elephant!"> 
   </figure>

   <figure>
      <img src="{{gif1}}" alt="Oops! Missing gif!">
   </figure>

   <figure>
      <img src="{{gif2}}" alt="Oops! Missing gif!">
   </figure>

</div>